*{
    margin: 0;
    padding: 0;
}

#Maincontent ,#Watch-row1 , #Watch-section , #watch-section2 , #Comments-section , #Newsletter {
    margin-left: auto;
    margin-right: auto;
}
 /* the nav area  */
nav{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* color: white; */
    background-color: black;
    text-align: center;
}
.nav-left{
    display: flex;
    margin-right: 25%;
    align-items: center;
    color: #FFF;
}
.nav-right{
    display: flex;
    margin-left: 9%;
    color: #FFF;
}
.nav-right i{
    padding-right: 10px;
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-right: 15%;
}
nav a{
padding-left: 19px;
text-decoration: none;
color: black;
text-align: center;
color: #adaeb2;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* Main content  */
#Maincontent{
    position: relative;
    background-color: black;
    padding: 100px;
}
.content{
    margin-top: 40px;
  display: flex;  
  justify-content: center;
  margin-bottom: 40px;
}
.Maincontent-right{
    justify-content: center;
}
.Maincontent-left{
    justify-content: center;
    margin-right: 13%;
}
.Maincontent-left h1{
margin-bottom: 10px;
color: #ffffff;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 125.5%; /* 80.32px */
}
.Maincontent-left p{
margin-right: 60px;
color: #8B8E99;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 125.5%; /* 20.08px */
}
.Maincontent-left > p{
    margin-bottom: 15px;
}
/* main content left button  */
.Maincontent-btn{
    margin-top: 10px;
    background-color: white;
    width: 350px;
    text-align: center;
    justify-content: center;
    position: absolute;
    align-items: center;
    /* border: solid; */
    display: flex;
    padding: 10px;
    border-radius: 10px;
}
.Maincontent-btn i {
 margin-right: 40px;
}

.Maincontent-btn a{
border-style: none;
border-radius: 10px;
/* padding: px; */
width: 70px;
/* padding-left: 15%; */
/* padding-right: 15%; */
border: none;
background-color: blue;
text-decoration: none;
padding: 10px;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 125.5%; /* 22.59px */
}

/* First Watch row  */
#Watch-row1{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.the-watch{
position: relative;
margin-right: 1%;
align-items: center;
display: flex;
/* border-style: solid; */
padding: 25px;
border-radius: 22px;
background: #F6F6F6;
}
.the-watch h4{
position: absolute;
margin-left: 41%;
color: #1E1D1D;
font-family: Inter;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.the-watch p{
margin-left: 13px;
color: #8B8E99;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

#Watch-Comments{
    margin-top: 8%;
    text-align: center;
}
#Watch-Comments p{
color: #3858D6;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#Watch-Comments h3{
color: #1E1D1D;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* ANOTHER WATCH SECTION  */
#Watch-section{
 margin-left: auto;
 margin-right: auto;
}
.watch-section1{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.watch-section2{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.watch-individual{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.watch-individual img{
    background-color:  #F6F6F6;
    padding: 10px;
}

/* WATCH SECTION BUTTON  */
#watch-sectionbtn{
    margin-top: 30px;
    text-align: center;
}
#watch-sectionbtn button{
border-radius: 15px;
background-color: #3858D6;
border: none;
padding: 10px;
padding-left: 40px;
padding-right: 40px;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/* ABOUT US SECTION   */

#whatpeoplesay{
    margin-top: 6%;
    text-align: center;
}
#whatpeoplesay p{
color: #3858D6;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#whatpeoplesay{
color: #1E1D1D;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* Comments section  */
#comment-main{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    position: relative;
}

.comment-inner1{
    padding: 20px;
    width: 30%; 
    /* height: 100%;  */
    background: #F6F6F6; 
    border-radius: 22px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.comment-innerleft h5{
 position: absolute;
 margin-top: 20px;
 margin-left: 13.4%;
 color: #1E1D1D;
 font-size: 24px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
}
.comment-innerright{
    padding-left: 30px;
}
.comment-innerright p{
/* text-align: left; */
color: #8B8E99;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


/* NEWSLETTER SECTION */
#Newsletter{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.Newsletter-main{
    align-items: center;
    display: flex;
    padding: 10px;
    padding-right: 80px;
    padding-left: 80px;

    border-radius: 22px;
    background: #F6F6F6;
}

.Newsletter-left{
    margin-right: 100px;
    padding: 50px;
}
.Newsletter-left h3{
color: #1E1D1D;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Newsletter-left p{
text-align: left;
color: #8B8E99;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#Newsletterbtn{
    margin-top: 10px;
    border-radius: 15px;
    background: #FFF;
    align-items: center;
    display: flex;
    padding: 10px;
}
#Newsletterbtn p{
color: rgba(139, 142, 153, 0.70);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 125.5%; /* 20.08px */
}
#Newsletterbtn button{
margin-left: 35%;
border-radius: 10px;
width: 90px;
padding: 8px;
border: none;
background-color: #3858D6;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 125.5%; /* 20.08px */
}
#footer{
background-color: black;
text-align: center;
margin-top: 50px;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 125.5%; /* 20.08px */
width: 100%;
height: 30px;
padding: 23px 0px 22px 0px;
justify-content: center;
/* align-items: center; */
/* flex-shrink: 0; */
}